h1 {
    text-align: center;
    margin-top: 3em;
}

form {
    max-width: 343px;
    margin: 0 auto;
    display: grid;

}

label {
    font-weight: 500;
    margin: 1.5em 0 .5em 0;
}

input {
    font-size: 1em;
    color: var(--color-input-text);
    letter-spacing: .6px;
    background-color: var(--color-background);
    padding: 15px;
    border: 2px solid var(--color-input-border);
    border-radius: 8px;
}

.btn-form {
    margin: 2.5em 1em;
}

p {
    text-align: center;
    font-size: 12px;
}

