@media (max-width: 768px) {
    body {
        background-color: bisque;
    }

    nav {
        padding: .8em 2em;
    }

    .slider {
        height: 570px;
    }

    .slide-content {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "title"
            "img"
            "button";
    }

    .slide-content {
        padding: 2.5em 2em;
        gap: 1em;
    }

    .slide-description {
        margin-top: 1em;
    }

    .slide-media {
        justify-self: start;
    }

    .slide-text {
        grid-area: title;
    }

    .slide-media {
        grid-area: img;
    }

    .slide-button {
        grid-area: button;
    }

    .dot {
        height: 10px;
        width: 10px;
        margin: 0 .3em;
    }

    /*  product page  */

    .product-layout {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "image"
            "details"
            "reviews";
    }

    .add-to-cart {
        margin-top: 3em;
    }

    /*  cart  */

    .cart-container {
        margin: 0 2em;
    }

    .cart {
        grid-template-columns: 1fr;
    }

    .cart-item {
        grid-template-columns: 100px 1fr 1fr;
        grid-template-areas: 
            "image title price"
            "image gty delete";
        justify-items: center;    
    }

    .cart-item-image {
        grid-area: image;
    }

    .cart-item-title {
        grid-area: title;
    }

    .item-price {
        grid-area: price;
    }

    .cart-controls {
        grid-area: gty;
    }

    .item-remove {
        grid-area: delete;
    }

    .cart-summary {
        justify-self: end;
    }

    /* responsive 
@media (max-width: 900px) {
    .featured-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .card-large {
      grid-row: auto;
    }
  
    .card-large .card-media,
    .card-large > a {
      aspect-ratio: 4 / 3;
    }
  }
  
  @media (max-width: 600px) {
    .featured-grid {
      grid-template-columns: 1fr;
    }
  } */ 



    /* footer */

    .footer-content {
        grid-template-columns: 1fr;
        padding: 3.5em 0 2.5em 0;
    }

    .footer-logo img {
        max-width: 8em;
    }

    .footer-logo,
    .slogan {
        justify-self: center;
    }

    .slogan {
        font-size: 16px;
    }

    .copyright {
        font-size: 12px;
    }
}

@media(max-width: 480px) {

    body {
        font-size: 14px;
    }

    .login img {
        max-width: 26px;
    }

    .logo img {
        max-width: 6.25em;
    }

    .cart-img img {
        max-width: 20px;
    }

    /* carousel */

    .slider {
        height: 500px;
    }

    .slide-title {
        font-size: 24px;
    }

    .slide-description {
        margin-top: .8em;
        font-size: 16px;
    } 

    .slide-media img {
        max-width: 350px;
    }

    .add-to-cart {
        align-self: center;
    }

    form {
        padding: 0 1em;
    }

    .cart-summary {
        margin: 0 auto;
    }


    

    
}