@media (max-width: 768px) {
    body {
        background-color: bisque;
    }

    nav {
        padding: .8em 2em;
    }

    .slider {
        height: 570px;
    }

    .slide-content {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "title"
            "img"
            "button";
    }

    .slide-content {
        padding: 2.5em 2em;
        gap: 1em;
    }

    .slide-description {
        margin-top: 1em;
    }

    .slide-media {
        justify-self: start;
    }

    .slide-text {
        grid-area: title;
    }

    .slide-media {
        grid-area: img;
    }

    .slide-button {
        grid-area: button;
    }

    .dot {
        height: 10px;
        width: 10px;
        margin: 0 .3em;
    }

    /*  product page  */

    .product-layout {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "image"
            "details"
            "reviews";
    }

    .add-to-cart {
        margin-top: 3em;
    }



    /* footer */

    .footer-content {
        grid-template-columns: 1fr;
        padding: 3.5em 0 2.5em 0;
    }

    .footer-logo img {
        max-width: 8em;
    }

    .footer-logo,
    .slogan {
        justify-self: center;
    }

    .slogan {
        font-size: 16px;
    }

    .copyright {
        font-size: 12px;
    }
}

@media(max-width: 480px) {

    body {
        font-size: 14px;
    }

    .login img {
        max-width: 26px;
    }

    .logo img {
        max-width: 6.25em;
    }

    .cart img {
        max-width: 20px;
    }

    /* carousel */

    .slider {
        height: 500px;
    }

    .slide-title {
        font-size: 24px;
    }

    .slide-description {
        margin-top: .8em;
        font-size: 16px;
    } 

    .slide-media img {
        max-width: 350px;
    }

    .add-to-cart {
        align-self: center;
    }

    form {
        padding: 0 1em;
    }


    

    
}