<div class="carousel">
    <div class="slider">
        <div class="slide">
            <div class="slide-content">
                <div class="slide-text">
                    <h1 class="slide-title">Step Into the Season</h1>
                    <p class="slide-description">Modern essentials designed for everyday movement.</p>
                </div>
                <div class="slide-button">
                    <a href="../product/index.html" class="cta-button btn-primary">Shop Now</a>
                </div>
                <div class="slide-media">
                    <img src="../assets/testimages/7-shoes-white.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="slide-content">
                <div class="slide-text">
                    <h1 class="slide-title">Sound, Simplified</h1>
                    <p class="slide-description">
                        Wireless black headphones designed for focused
                        listening and everyday comfort.</p>
                </div>
                <div class="slide-button">
                    <a href="../product/index.html" class="cta-button btn-primary">Shop Now</a>
                </div>
                <div class="slide-media">
                    <img src="../assets/testimages/5-headphones-black.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="slide-content">
                <div class="slide-text">
                    <h1 class="slide-title">Time, Refined</h1>
                    <p class="slide-description">
                        A modern black watch designed for everyday precision
                        and understated style.</p>
                </div>
                <div class="slide-button">
                    <a href="../product/index.html" class="cta-button btn-primary">Shop Now</a>
                </div>
                <div class="slide-media">
                    <img src="../assets/testimages/15-watch-black.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="dot-container"></div>
</div>
